<div class="main_container">
    <h1>Bienvenue sur le carnet de voyage</h1>
    <%= button_to 'Aller vers la page des voyages', trips_path, method: :get, class: 'button-17' %>
    <%= button_to 'Créer un voyage', new_trip_path, method: :get, class: 'button-17' %>
    <%= button_to 'Aller vers la page des users', users_path, method: :get, class: 'button-17' %>
</div>